table {
	width: 100%;
	border-collapse: collapse;
	text-align: left;
	font-size: 14px;
}
table .center-text{
	text-align: center;
}
table th, td {
	border: solid 1px grey;
	padding: 5px 10px; 
}

.form-group {
  	margin: 20px auto;
  	width: 600px;
	height: 90px;
	text-align: center;
}
input {
	width: 300px;
	height: 25px;
	padding-left: 10px;
	font-size: 18px;
}
select {
	height: 32px;
	font-size: 18px;
}
.my-input-btn {
	margin-top: 20px;
	width: 150px;
	height: 25px;
	font-size: 18px;
}
.result {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
.success-check {
	background-color: green;
}
.error-check {
	background-color: red;
}